@{
    ViewData["Title"] = "Lockout";
}
<section class="container-fluid">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <form method="post" asp-action="Login" asp-controller="Account">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <h3 class="mb-5 text-center">Your account is locked</h3>
                            <p class="text-body mt-3 text-center">To reset your account? <a asp-action="ResetPassword" asp-controller="Account" class="fw-bold text-body"><u>Click here</u></a></p>
                            <hr class="my-4">
                            <div class="text-center">
                                <button class="btn btn-primary mb-2" asp-action="Index" asp-controller="Home">Back to Home</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
