@model ResetPasswordVM
@{
    ViewData["Title"] = "Reset Password";
}

<section class="container-fluid">
    <div class="container py-5 h-100">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-12 col-md-8 col-lg-6 col-xl-5">
                <form method="post" asp-action="ResetPassword" asp-controller="Account">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5">
                            <h3 class="mb-5 text-center">Reset Password</h3>
                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="FullName">Full Name</label>
                                <input asp-for="Email" class="form-control form-control-lg" placeholder="Type your full name" />
                                <span class="text-danger" asp-validation-for="FullName"></span>
                            </div>

                            <div class="form-outline mb-4">
                                <label class="form-label" asp-for="Email">Email</label>s
                                <input asp-for="Email" class="form-control form-control-lg" placeholder="Type your password" />
                                <span class="text-danger" asp-validation-for="Email"></span>
                            </div>
                            <div>
                                <button class="btn btn-primary" type="submit">Reset Password</button>
                            </div>
                            <p class="text-center text-muted mt-5 mb-0">Don't have an account? <a asp-action="Register" asp-controller="Account" class="fw-bold text-body"><u>Register here</u></a></p>
                            <hr class="my-4">
                            <div class="text-center">
                                <button class="btn btn-primary mb-2" type="submit"> Sign in with google</button>
                                <button class="btn btn-primary" type="submit">Sign in with facebook</button>
                            </div>

                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>


